* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.one {
    padding: 10px 280px 10px;
}

.one .pir {
    font-weight: 500;
    font-size: 25px;
}