* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #FFFDF2;
}

 {
    color: #052322;
    text-align: end;
    font-size: 35px;
    margin-right: 20px;
}