* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #FFFDF2;
}

a i {
    color: #052322;
    font-size: 35px;
    margin-right: 20px;
    display: flex;
    margin-left: 1450px;
    margin-top: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

section h1 {
    font-size: 20px;
}