* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF2;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

section h1 {
    font-weight: 300;
    font-size: 50px;
    margin-right: 680px;
    margin-top: 80px;
    margin-bottom: 80px;
}

section h2 {
    font-weight: 400;
}