* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF2;
    opacity: 0;
    animation: open 3s ease forwards;

}

@keyframes open {
    to {
        opacity: 1;
    }
}

.services {
    padding: 80px 100px;
}

.services h1 {
    text-align: center;
    font-size: 53px;
    font-weight: 300;
    color: #092423;
    margin-bottom: 10px;
}

p:first-of-type {
    font-size: 23px;
    font-weight: 300;
    color: rgb(19, 19, 19);
    padding-top: 20px;
}

.subtitle {
    text-align: center;
    margin-bottom: 60px;
    color: #555;
}

.service-card {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    gap: 40px;
}

.service-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    flex: 1;
}

.info h3 {
    font-size: 24px;
    color: #092423;
    margin-bottom: 10px;
}

.info p {
    color: #555;
    max-width: 400px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #092423;
}

button {
    background-color: #092423;
    color: #FFFDF2;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0f3a37;
}
