* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF2;
    opacity: 0;
    animation: open 3s ease forwards;
}

@keyframes open {
    to {
        opacity: 1;
    }
}

.services {
    padding: 80px 100px;
}

.services h1 {
    text-align: center;
    font-size: 53px;
    font-weight: 300;
    color: #092423;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    margin-bottom: 60px;
    font-size: 23px;
    font-weight: 300;
    color: rgb(19, 19, 19);
    padding-top: 15px;
}

.servicecard {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    gap: 40px;
    position: relative;
}

.lastservicecard{
    border-bottom: 1px solid #ddd;
}

.servicecard img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.servicecard img:hover {
    filter: brightness(0.8);
}

.info {
    flex: 1;
}

.info h3 {
    font-size: 22px;
    font-weight: 300;
    color: #092423;
    margin-bottom: 15px;
}

.info a {
    text-decoration: none;
}

.info p {
    color: #161616;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 60px;
}

.price {
    font-weight: 300;
    font-size: 15px;
    color: #092423;
    margin-bottom: 80px;
}

.services button {
    background-color: #092423;
    color: #FFFDF2;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 250px;
    margin-bottom: 80px;
    width: 170px;
    font-size: 16px;
}

button:hover {
    background-color: transparent;
    color: #092423;
    border: #092423 1px solid;
    text-decoration: underline;
}

 @media (max-width: 1200px) {
    .servicecard {
        flex-wrap: wrap;
    }
 }

 @media (max-width: 700px) {
    .servicecard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .servicecard img {
        width: 450px;
        height: 350px;
    }

    .info h3 {
        font-size: 20px;
    }

    .info p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .info .price {
        font-size: 25px;
    }
 
}