* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.first {
    height: 100vh;
    padding-top: 40px;
    background-image: url(/Photos/c837a6_8bdf6d31716e47f28f553df74033ed63~mv2.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.first::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

.first * {
    position: relative;
    z-index: 1;
}

nav {
    background-color: #FFFDF2;
    height: 90px;
    width: 87%;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navleftside {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navleftside img {
    height: 30px;
    width: 28px;
}

.navleftside a {
    font-size: 18px;
    text-decoration: none;
    color: #092423;
}

.navlist {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navlist ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.navlist ul li a {
    text-decoration: none;
    color: #092423;
}

.navlist ul li a:hover {
    text-decoration: underline;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login i {
    font-size: 24px;
}


.navlist button {
    width: 160px;
    height: 38px;
    background-color: #092423;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.3s;
}

.navlist button:hover {
    background-color: #FFFDF2;
    color: #092423;
    border: 1px solid #092423;
}

.firsttext {
    margin-top: 80px;
    margin-left: 100px;
    max-width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.firsttext h1 {
    font-size: 55px;
    font-weight: 300;
}

.firsttext p {
    font-size: 20px;
    margin-bottom: 5px;
}

.firsttext button {
    width: 200px;
    height: 58px;
    border-radius: 50px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

form {
    background-color: #FFF9B0;
    width: 730px;
    height: 510px;
    border-radius: 6px;
    margin-left: 670px;
    margin-top: 90px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

form h2 {
    font-weight: 300;
    font-size: 28px;
    margin-top: -55px;
}

form h4 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

.fline {
    display: flex;
    gap: 137px;
}

.sline {
    display: flex;
    gap: 150px;
}

.sline p:nth-of-type(2) {
    margin-left: -40px;
}


.flineinput, .slineinput{
    display: flex;
    width: 100%;
    gap:  25px;
}

.flineinput input, .slineinput input, .tlineinput .foption  {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;   
}

.tline {
    display: flex;

}

.tlineinput {
    display: flex;
    gap: 10px;
}

.tlineinput .soption {
    width: 420px;
}
