* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Photos/c837a6_8bdf6d31716e47f28f553df74033ed63~mv2.avif);
    background-size: cover;
}

nav {
    background-color: #FFFDF2;
    height: 100px;
    width: 88%;
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 700px;
}

.navleftside {
    display: flex;
    gap: 5px;
}

.navleftside img {
    height: 34px;
    width: 28px;
}

.navleftside p {
    margin-top: 10px;
    margin-left: -5px;
    font-size: 18px;
}

.navlist ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.navlist ul li a {
    text-decoration: none;
    color: #092423;
}
 
.login {
    display: flex;
    gap: 10px;
}
