* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}


.hero {
    min-height: 100vh;
    background-image: url(/Photos/c837a6_8bdf6d31716e47f28f553df74033ed63~mv2.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}


.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

.hero * {
    position: relative;
    z-index: 2;
}

nav {
    background-color: #FFFDF2;
    height: 100px;
    width: 88%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
}

.navleftside {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    margin-right: 80px;
}

.navleftside img {
    height: 30px;
    width: 28px;
    margin-top: 5px;
}

.navleftside a {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #092423;
}

.navlist {
    display: flex;
    gap: 70px;
}

.navlist ul {
    display: flex;
    list-style: none;
    gap: 70px;
    margin-top: 8px;
}

.navlist ul li a {
    text-decoration: none;
    color: #092423;
}

.navlist ul li a:hover {
    text-decoration: underline;
}

.navlist button {
    width: 160px;
    height: 38px;
    background-color: #092423;
    border: none;
    border-radius: 50px;
    color: white;
    margin-right: 25px;
    transition: 0.6s;
}

.navlist button:hover {
    background-color: #FFFDF2;
    color: #092423;
    border: 0.5px solid #092423;
}


.login {
    display: flex;
    gap: 10px;
}

.login li a i {
    font-size: 25px;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 300;
}

.hero-text p {
    font-size: 20px;
}

.hero-text button {
    width: 200px;
    height: 58px;
    border-radius: 50px;
    border: none;
    font-size: 17px;
}

.hero-form {
    background-color: #FFF9B0;
    width: 700px;
    height: 400px;
    border-radius: 6px;
    margin: 100px auto;
    padding: 40px;
}

